[alias]
    a = add
    abort = rebase --abort
    b = branch
    ba = branch -a
    bd = branch -d
    c = commit
    ca = commit --amend
    can = commit -n --amend
    cn = commit -n
    co = checkout
    cob = checkout -b
    com = checkout main
    continue = rebase --continue
    cp = cherry-pick
    df = diff --word-diff=color
    onto = rebase --onto
    ontom = rebase --onto main
    ontod = rebase --onto develop
    pl = pull
    pop = stash pop
    pr = "!f(){ git fetch upstream pull/$1/head:$1; git checkout $1; };f"
    prc = !git com && git pl && git remote prune origin | grep \"pruned\" | awk \"{print \\$3}\" | sed \"s/origin\\///\" | xargs git b -d && git ba
    ps = push
    pso = !git branch --contains | awk '{print $2}' | xargs git push -u origin
    psu = push -u
    refresh = !git rm -r --cached . && git add .
    root = rev-parse --show-toplevel
    st = stash
[color]
    ui = auto
[core]
    autocrlf = false
    editor = vim -c \"set fenc=utf-8\"
    ignorecase = false
    precomposeunicode = true
    quotepath = false
[diff "json"]
    textconv = jq -S .
    cachetextconv = true
[ghq]
    root = ~/projects
[pager]
    diff = diff-highlight | less
    log = diff-highlight | less
    show = diff-highlight | less
[user]
    useConfigOnly = true
    name = biohuns
    email = 18520474+biohuns@users.noreply.github.com
[include]
    path = ~/.gitaccount
[pull]
    rebase = false
[init]
    defaultBranch = main
